@charset "utf-8";
/* CSS Document */

.cajapusheen{
position: relative;
}

.pusheen{
	background-image: url(../images/pusheen.png)
	width: 300px;
	height: 300px;
	transform: translate(0px,45px);
	animation-name: unipusheen;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-fill-mode: both;	 
}

@keyframes unipusheen{
	0%{
		width: 300px;
		height: 0px;
		left: 150px; 
		
	}
	25%{
		width: 0px;
		height: 300px;
		left: 150px; 
		
	}
	50%{
		width: 300px;
		height: 0px;
		left: 150px; 
		
	}
	75%{
		width: 0px;
		height: 300px;
		left: 150px; 
		
	}
	
	100%{
		width: 300px;
		height: 0px;
		left: 150px;
	}
	
}
